.output-div {
	border: 5px solid #BF7B58;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
}

.blocks-range-control .blocks-base-control__label {
	width: auto;
}

.components-panel__row label {
	max-width: 100% !important;
}

.output-div a,
.content {
	margin-top: 20px !important;
}

.quote {
	font-size: 13px;
    color: #7d7777;
}

.output-div.boxed {
    width: 50%;
    margin: auto;
}