.wp-block-gbt-portfolio
{
	margin-bottom: 2.5rem;

	&.full
	{
		width: 100vw;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	&.wide
	{
		@media all and (min-width: 1024px) {
			width: 76vw;
			margin-left: 50%;
			transform: translateX(-50%);
		}
	}
}