.editor-block-list__block[data-type="getbowtied/slide"] {
	display: none;
}

.gbt_18_sk_editor_slider_wrapper[data-tab-active="1"] {
	.editor-block-list__block[data-type="getbowtied/slide"][data-tab="1"] {
		display: block;
	}
}

.gbt_18_sk_editor_slider_wrapper[data-tab-active="2"] {
	.editor-block-list__block[data-type="getbowtied/slide"][data-tab="2"] {
		display: block;
	}
}

.gbt_18_sk_editor_slider_wrapper[data-tab-active="3"] {
	.editor-block-list__block[data-type="getbowtied/slide"][data-tab="3"] {
		display: block;
	}
}

.gbt_18_sk_editor_slider_wrapper[data-tab-active="4"] {
	.editor-block-list__block[data-type="getbowtied/slide"][data-tab="4"] {
		display: block;
	}
}

.gbt_18_sk_editor_slider_wrapper[data-tab-active="5"] {
	.editor-block-list__block[data-type="getbowtied/slide"][data-tab="5"] {
		display: block;
	}
}

.gbt_18_sk_editor_slider_wrapper[data-tab-active="6"] {
	.editor-block-list__block[data-type="getbowtied/slide"][data-tab="6"] {
		display: block;
	}
}