// Social Media Icons List
ul.sk_social_icons_list {
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
	vertical-align: middle;

	&.left {
		text-align: left;

		.rtl & {
			text-align: right;
		}
	}

	&.center {
		text-align: center;
	}

	&.right {
		text-align: right;

		.rtl & {
			text-align: left;
		}
	}

	li.sk_social_icon {
		display: inline-block;
		list-style: none;
		line-height: 1;
		margin: 0 1.25rem 10px 0;
		vertical-align: middle;

		.rtl & {
			margin: 0 0 10px 1.25rem;
		}

		&:last-child {
			margin-right: 0;
		}

		a.sk_social_icon_link {
			display: block;
			overflow: visible;
			line-height: 0;
			transition: all .3s ease;

			svg {
				transition: all .3s ease;
			}
		}
	}
}
