.gbt_18_sk_editor_social_media_wrapper {
	background-color: #f3f3f4;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    min-height: 170px;
    width: 100%;
    text-align: center;
    font-size: 13px;

    .gbt_18_sk_editor_social_media_icon.dashicon.dashicons-share {
	    margin-right: 1ch;
	    margin-top: -6px;

	    &:before {
			font-family: "dashicons";
		    font-size: 20px;
		}
	}

	.gbt_18_sk_editor_social_media_title {
	    display: flex;
	    justify-content: center;
	    font-weight: 600;
	    margin-bottom: 1em;
	    margin-top: 0;
	}

	.gbt_18_sk_editor_social_media_setup {
		overflow-wrap: break-word;
		font-size: 13px;
		margin-bottom: 0;
	    margin-top: 0;
	    color: #5d5d5d;
	}
}