.editor-block-list__block[data-type="getbowtied/slider"][data-align="full"]
{
	.editor-block-list__block
	{
		max-width: 100%;
	}
}

.editor-block-list__block[data-type="getbowtied/slider"][data-align="wide"]
{
	.editor-block-list__block
	{
		max-width: 100%;
	}
}

.wp-block-slider-title-wrapper
{
	background-color: #f3f3f3;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.7em 1em 1em;
    min-height: 70px;
    height: 70px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid #e6e6e6;

    &:hover
    {
    	cursor: pointer;
    }

    .dashicon.dashicons-slides
	{
	    margin-right: 1ch;
	    margin-top: -10px;
	}

	.wp-block-slider-title
	{
		font-family: BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif !important;
	    display: flex;
	    justify-content: center;
	    font-weight: 600;
	    margin-bottom: 0;
	    margin-top: 3px;
	    margin-left: -3px;
	}

	.dashicon.dashicons-slides:before
	{
		font-family: "dashicons";
	    font-size: 26px;
	}
}

.slide-add-media-button-wrapper,
.slide-remove-media-button-wrapper
{
	background-color: #f3f3f3;
	text-align: left;

	.button
	{
		margin: 1rem;
	}
}

.wp-block-slide-title-wrapper
{
	background-color: #f8f9f9;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.3em 1em 1em;
    min-height: 55px;
    height: 55px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid #e6e6e6;

    &:hover
    {
    	cursor: pointer;
    }

    .dashicon.dashicons-arrow-down
	{
		position: absolute;
	    right: 20px;
	    top: 9px;
	    color: #32373c;

		&:before
		{
			font-family: "dashicons";
	    	font-size: 20px;
	    }
	}

	.wp-block-slide-title
	{
		font-family: BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif !important;
	    display: flex;
	    justify-content: center;
	    font-weight: 600;
	    margin-bottom: 1em;
	    margin-top: 0;
	}

	.dashicon.dashicons-format-image
	{
	    margin-right: 1ch;
	    margin-top: -7px;
	}

	.dashicon.dashicons-format-image:before
	{
		font-family: "dashicons";
	    font-size: 20px;
	}
}

.slide-add-media-button-wrapper
{
	background: transparent;
	position: absolute;
	width: auto;
    padding: 0.9rem 1rem;
    max-height: 100px;
    text-align: center;
    font-size: 13px;

    .dashicon.dashicons-format-image
	{
	    margin-right: 1ch;
	    margin-top: -6px;
	}
}

.slide-remove-image
{
	z-index: 999;
    font-size: 0 !important;

	&.dashicon.dashicons-dismiss
	{
	    margin-right: 1ch;
	    margin-top: -6px;
	}

	&.dashicon.dashicons-dismiss:before
	{
		font-family: "dashicons";
	    font-size: 20px;
	}

	background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    position: absolute;
    right: 0;
    top: 75px;
    color: #f8f9f9 !important;
}

.editor-slide-wrapper
{
	max-height: 1000px;
    background-size: cover;
    width: 100%;
    background-position: center center;

    .editor-slide-content
    {
    	width: 80%;
    	word-break: break-word;
    	margin: auto;
    	height: 100%;
    	padding: 125px 0;

    	h1, h5
    	{
    		line-height: 1;
    	}

    	.editor-slide-container
    	{
    		width: 70%;

    		&.align-center
    		{
    			margin: auto; 

    			.editor-slide-button .slide-button-text
    			{
    				margin: 20px auto 0;
    			}
    		}

    		&.align-right
    		{
    			margin: 0 0 0 auto; 

    			.editor-slide-button .slide-button-text
    			{
    				margin: 20px 0 0 auto;
    			}
    		}

    		.editor-slide-description
    		{
    			h5
    			{
				    font-weight: normal;
    			}
    		}
    	}
    }

	.editor-slide-title
	{
		margin-bottom: 15px;

		h3
		{
			font-family: BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif !important;
			font-size: 14px;
			font-weight: normal;
		}
	}

	.editor-slide-description h4
	{
		font-family: BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif !important;
		font-size: 24px;
	}
}

.editor-block-list__block[data-type="getbowtied/slider"]:not(.is-selected-parent):not(.is-typing)
{
	.editor-inner-blocks .editor-block-list__layout .editor-block-list__block:first-child
	{
		.slide-add-media-button-wrapper,
		.editor-slide-wrapper,
		.slide-remove-image,
		.editor-slide-button
		{
			opacity: 1;
		  	visibility: visible;
		  	transition: all 0.3s ease-in-out;
		}

		.editor-slide-wrapper
		{
			max-height: 1000px;
		}

		.slide-add-media-button-wrapper
		{
			max-height: 100px;
		}
	}
}

.editor-block-list__block[data-type="getbowtied/slider"]
{
	> .editor-block-list__block-edit
	{
		margin-bottom: 65px;
	}

	.editor-inner-blocks
	{
		.editor-block-list__layout
		{
			margin-top: 0px;
		}
	}

	.editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit,
	.editor-block-list__layout .editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit
	{
		margin-top: 1px;
    	margin-bottom: 0px;
	}

	.editor-block-list__layout .editor-block-list__block.is-selected-parent>.editor-block-list__block-edit:before,
	.editor-block-list__layout .editor-block-list__block.is-selected>.editor-block-list__block-edit:before
	{
		outline: 0;
	}

	.editor-inner-blocks
	{
		.editor-block-list__block
		{
			.editor-block-toolbar
			{
    			left: 15px;
				top: 69px;
			}

			.slide-add-media-button-wrapper,
			.editor-slide-wrapper,
			.slide-remove-image,
			.editor-slide-button
			{
				opacity: 0;
				visibility: hidden;
				max-height: 0;
				transition: all 0.3s ease-in-out;
			}
		}
	}

	.editor-inner-blocks
	{
		.editor-block-list__block:focus
		{
			.editor-block-list__block-edit
			{
				box-shadow: none;
			}
		}

		.editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit,
		.editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit:before
		{
			outline: 0 !important;
			box-shadow: none !important;
		}

		.editor-block-list__block.is-selected,
		.editor-block-list__block.is-typing
		{
			.slide-add-media-button-wrapper,
			.editor-slide-wrapper,
			.slide-remove-image,
			.editor-slide-button
			{
				opacity: 1;
			  	visibility: visible;
			  	transition: all 0.3s ease-in-out;
			}

			.editor-slide-wrapper
			{
				max-height: 1000px;
			}

			.slide-add-media-button-wrapper
			{
				max-height: 100px;
			}
		}

		.editor-rich-text p,
		.editor-default-block-appender__content
		{
			opacity: 0;
		}

		.editor-block-list__empty-block-inserter
		{
			left: 49%;
			right: 50%;
			top: 7px;
			opacity: 1 !important;
			display: block !important;

			button
			{
				margin: 0;
			}
		}

		.editor-default-block-appender
		{
			max-width:100%;

			> .editor-inserter
			{
				display: none;
			}

			.editor-default-block-appender__content
			{
			    margin-top: 0;
			}
		}
	}
}

.editor-block-list__block[data-type="getbowtied/slide"]
{

	>.editor-block-settings-menu
	{	
		right: -15px;
	}

	>.editor-block-mover
	{
		left: -15px;
	}

	>.editor-block-list__breadcrumb
	{
		right: 14px;
	}

	.slide-button-text
	{
		padding: 1rem;
    	width: fit-content;
    	margin-top: 20px;
	}

	.editor-block-list__block-edit,
	.editor-block-list__block-edit:before
	{
	    right: 0px !important;
	    left: 0px !important;
	    top: 0px !important;
	    bottom: 0px !important;
	}

	.editor-block-list__insertion-point
	{
		display: none;
	}

	&:focus
	{
		.editor-block-list__block-edit
		{
			box-shadow: none !important;
		}
	}

	&.is-selected
	{
		.dashicon.dashicons-arrow-down:before
		{
			content: '\f142';
	    }
	}

	&.is-typing
	{
		.dashicon.dashicons-arrow-down:before
		{
			content: '\f142';
	    }
	}
}