.gbt_18_sk_latest_posts
{
	.gbt_18_sk_editor_latest_posts_wrapper
	{
		position: relative;
	  	overflow: hidden;

		&.columns-1
		{
			.gbt_18_sk_editor_latest_posts_item
			{
				width: 100%;

				.gbt_18_sk_editor_latest_posts_img_container {
    				padding-bottom: 40%;
				}
			}
		}

		&.columns-2 {
			.gbt_18_sk_editor_latest_posts_item {
				width: 50%;
				float: left;

				&:nth-child(2n+1) {
					clear: both;
				}

				.gbt_18_sk_editor_latest_posts_img_container {
    				padding-bottom: 50%;
				}
			}
		}

		&.columns-3 {
			.gbt_18_sk_editor_latest_posts_item {
				width: 33.333333%;
				float: left;

				&:nth-child(3n+1) {
					clear: both;
				}

				.gbt_18_sk_editor_latest_posts_img_container {
    				padding-bottom: 100%;
				}
			}
		}

		&.columns-4 {
			.gbt_18_sk_editor_latest_posts_item {
				width: 25%;
				float: left;

				&:nth-child(4n+1) {
					clear: both;
				}

				.gbt_18_sk_editor_latest_posts_img_container {
    				padding-bottom: 100%;
				}
			}
		}

		.gbt_18_sk_editor_latest_posts_item {
			padding: 0 10px;	
		    margin-bottom: 1rem;
		}

		.gbt_18_sk_editor_latest_posts_title {
			display: block;
			font-weight: 900;
			text-align: left;
			font-size: 18px;
			line-height: 1.1333em;
			color: #000;
			margin: 0 0 15px;
		    transition: all .5s;

			&:hover
			{
			    opacity: .4;
		        transition: all .5s;
		        cursor: pointer;
			}
		}

		.gbt_18_sk_editor_latest_posts_item.gallery {
			margin: 0 !important;
		}

		.gbt_18_sk_editor_latest_posts_img_overlay
		{
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 2;
			opacity: 0;
			transition: all .35s ease;
		    background: rgba(255, 255, 255, 0.6);
		}

		.gbt_18_sk_editor_latest_posts_img_container:hover .gbt_18_sk_editor_latest_posts_img_overlay
		{
			opacity: 1;
			cursor: pointer;
		}

		.gbt_18_sk_editor_latest_posts_img_container
		{
			display: block;
			overflow: hidden;
			position: relative;
			height: 100%;
			width: 100%;
			margin-bottom: 15px;
			
			-webkit-mask-image: -webkit-radial-gradient(white, black);
		}	

		.gbt_18_sk_editor_latest_posts_img
		{
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background-position: center center;
			background-size:cover;		
			width: -webkit-calc(100% + 50px);
			width: calc(100% + 50px);
			max-width: none;
			transition: opacity 0.35s, transform 0.35s;
		}

		.gbt_18_sk_editor_latest_posts_noimg
		{
			background: #f5f5f5;
			height: 100%;
			width: 100%;
			display: block;
		}
	}
}