.gbt_18_sk_latest_posts {
	margin-bottom: 0.5rem;

	.gbt_18_sk_latest_posts_wrapper {
		position: relative;
	  	overflow: hidden;

		&.full {
			margin-left: calc( -100vw / 2 + 100% / 2 );
		    margin-right: calc( -100vw / 2 + 100% / 2 );
		    max-width: 100vw;

		    &.columns-1 {
		    	.gbt_18_sk_latest_posts_item {
		    		padding: 0 30px;
		    	}
		    }

		    &.columns-2 {
		    	@media all and (min-width: 640px) {
			    	.gbt_18_sk_latest_posts_item {
			    		&:nth-child(odd) {
			    			padding-left: 30px;
			    		}
			    	}

			    	.gbt_18_sk_latest_posts_item {
			    		&:nth-child(even) {
			    			padding-right: 30px;
			    		}
			    	}
			    }

			    @media all and (max-width: 639px) {
					.gbt_18_sk_latest_posts_item {
						padding: 0 30px;
					}
				}
		    }

		    &.columns-3 {
		    	@media all and (min-width: 640px) {
			    	padding: 0 20px;		
			    }

			    @media all and (max-width: 639px) {
					.gbt_18_sk_latest_posts_item {
						padding: 0 30px;
					}
				}
		    }

		    &.columns-4 {
		    	@media all and (min-width: 640px) {
			    	padding: 0 20px;		
			    }

			    @media all and (max-width: 639px) {
					.gbt_18_sk_latest_posts_item {
						padding: 0 30px;
					}
				}
		    }
		}

		&.wide {
			@media all and (min-width: 1024px) {
				margin-left: calc( -75vw / 2 + 100% / 2 );
			    margin-right: calc( -75vw / 2 + 100% / 2 );
			    max-width: 75vw;
			}
		}

		&:not(.full) {
			&.columns-2 {
				.gbt_18_sk_latest_posts_item {

					@media all and (max-width: 639px) {
						padding: 0 0;
					}
				}
			}

			&.columns-3 {

				.gbt_18_sk_latest_posts_item {

					@media all and (max-width: 639px) {
						padding: 0 0;
					}
				}
			}

			&.columns-4 
			{
				.gbt_18_sk_latest_posts_item
				{
					@media all and (max-width: 639px) {
						padding: 0 0;
					}
				}
			}
		}

		&.columns-1 
		{
			.gbt_18_sk_latest_posts_item {
				width: 100%;

				@media all and (max-width: 639px) {
					padding: 0 0;
				}
			}
		}

		&.columns-2 {

			.gbt_18_sk_latest_posts_item {

				@media all and (min-width: 640px) {
					width: 50%;
					float: left;

					&:nth-child(2n+1) {
						clear: both;
					}
				}

				@media all and (max-width: 639px) {
					width: 100%;
					float: left;
				}
			}
		}

		&.columns-3 {

			.gbt_18_sk_latest_posts_item {

				@media all and (min-width: 1024px) {
					width: 33.333333%;
					float: left;

					&:nth-child(3n+1) {
						clear: both;
					}
				}

				@media all and (min-width: 640px) and (max-width: 1023px) {
					width: 50%;
					float: left;

					&:nth-child(2n+1) {
						clear: both;
					}
				}

				@media all and (max-width: 639px) {
					width: 100%;
					float: left;
				}
			}
		}

		&.columns-4 {

			.gbt_18_sk_latest_posts_item {

				@media all and (min-width: 1240px) {
					width: 25%;
					float: left;

					&:nth-child(4n+1) {
						clear: both;
					}
				}

				@media all and (min-width: 1024px) and (max-width: 1239px) {
					width: 33.333333%;
					float: left;

					&:nth-child(3n+1) {
						clear: both;
					}
				}

				@media all and (min-width: 640px) and (max-width: 1023px) {
					width: 50%;
					float: left;

					&:nth-child(2n+1) {
						clear: both;
					}
				}

				@media all and (max-width: 639px) {
					width: 100%;
					float: left;
				}
			}
		}

		.gbt_18_sk_latest_posts_item {
			padding: 0 15px;	
		    margin-bottom: 2rem;
		}

		.gbt_18_sk_latest_posts_title {
			display: block;
			font-weight: 900;
			text-align: left;
			font-size: 24px;
			line-height: 1.4em;
			margin: 0 0 15px;
		    transition: all .5s;

		    @media all and (min-width: 640px) and (max-width: 1023px) {
		    	font-size: 22px;
		    }

		    @media all and (max-width: 639px) {
		    	font-size: 20px;
		    }

			&:hover {
			    opacity: 1;
		        transition: all .5s;
			}
		}

		.gbt_18_sk_latest_posts_item.gallery {
			margin: 0 !important;
		}

		.gbt_18_sk_latest_posts_img_overlay {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 2;
			opacity: 0;
			transition: all .35s ease;
		    background: rgba(255, 255, 255, 0.6);
		}

		.gbt_18_sk_latest_posts_img_container:hover .gbt_18_sk_latest_posts_img_overlay {
			opacity: 0.6;
		}

		.gbt_18_sk_latest_posts_img_container {
			display: block;
			overflow: hidden;
			position: relative;
			width: 100%;
			padding-bottom: 100%;
			margin-bottom: 35px;
			
			-webkit-mask-image: -webkit-radial-gradient(white, black);

			@media all and (min-width: 640px) and (max-width: 1023px) {
		    	margin-bottom: 25px;
		    }

		    @media all and (max-width: 639px) {
		    	margin-bottom: 20px;
		    }

		    &:hover {
		    	.gbt_18_sk_latest_posts_img {
					background-position-x: 0px;
				}
			}
		}	

		.gbt_18_sk_latest_posts_img {
			display: block;
			position: absolute;
			width: 100%;
			padding-bottom: 100%;
			background-position-x: -50px;
			background-position-y: center;
			background-size:cover;		
			width: -webkit-calc(100% + 50px);
			width: calc(100% + 50px);
			max-width: none;
			transition: all 0.35s ease-in-out;
		}

		.gbt_18_sk_latest_posts_noimg {
			background: #f5f5f5;
			height: 100%;
			width: 100%;
			display: block;
		}
	}
}