.from-the-blog-wrapper {
	margin-bottom: 2.5rem;

	.from_the_blog_item {
		margin-bottom: 5rem;
		padding: 0 1.25rem;

		.from_the_blog_img_container {
			display: block;
			overflow: hidden;
			position: relative;
			height: 245px;
			width: 100%;
			margin-bottom: 1.25rem;
			-webkit-mask-image: -webkit-radial-gradient(white, black);
		}

		.from_the_blog_title {
			color: var(--global--headings-color);
			display: block;
			font-family: var(--global--main-font);
			font-weight: var(--global--headings-font-weight);;
			text-align: center;
			font-size: var(--global--headings-font-size);
			line-height: 1.2;
			margin: 0 0 1.25rem;
			text-align: left;
			transition: all .3s ease;

			&:hover, &:focus {
				color: var(--global--accent-color);
			}
		}
	}

	.from_the_blog_img {
		object-fit: cover;
		object-position: center;
		display: block;
		width: 100%;
		height: 100%;
	}

	.from_the_blog_noimg {
		background: #f5f5f5;
		height: 245px;
		width: 100%;
		display: block;
	}

	.post_meta_archive {
		margin: 0;
	}

	.swiper-pagination {
		bottom: 0;

		.swiper-pagination-bullet-active {
			background: var(--global--headings-color);
		}
	}
}

.wpb_wrapper .from-the-blog-wrapper {
	margin-top: 0;
}

.boxed-row .wpb_wrapper .from-the-blog-wrapper {
	margin: 0px -30px 0px;
}

/* min-width 1023px, large screens */
@media only screen and (min-width: 63.9375em) {
	.boxed-row .wpb_wrapper .from-the-blog-wrapper {
		margin: 0px -15px 0px;
	}
}
