.shortcode_getbowtied_slider {

	&.full_height {
		height: 100vh;
	}

	.swiper-container {
		@media all and (max-width: 639px) {
			max-height: 600px;
		}
	}

	.swiper-container.full_height {
	    height: 100vh !important;
	    max-height: 100vh;
	}

	.swiper-button-prev {
        left: -50px;
        transition: all .3s linear;

		@media only screen and (max-width: 1023px) {
			display: none;
		}
	}

	.swiper-button-next {
        right: -50px;
        transition: all .3s linear;

		@media only screen and (max-width: 1023px) {
			display: none;
		}
	}

	&:hover {
		@media only screen and (min-width: 1024px) {

			.swiper-button-prev {
				left: 2.5rem;
				margin-top: -1.875rem;
			}

			.swiper-button-next {
				right: 2.5rem;
				margin-top: -1.875rem;
			}
		}
	}

	.shortcode-slider-pagination {
		display: block;
		position: absolute;
		bottom: 1.25rem !important;
		text-align: center;
		z-index: 9999;

		.swiper-pagination-bullet {
			font-family: var(--global--main-font);
			font-weight: var(--global--headings-font-weight);
			font-size: 13px;
			margin: 0 10px;
			background: none;
			transition: all .3s ease;
			width: auto;
			height: auto;
			counter-increment: slideNum;
			opacity: .5;

			&:before {
				content: '0'counter(slideNum);
			}

			&:after {
				background-color: currentColor;
				content: "";
				height: 1px;
				width: 0;
				display: inline-block;
				vertical-align: middle;
				margin: 0 10px 0 20px;
				transition: all .5s ease-in;
			}

			&.swiper-pagination-bullet-active {
				background: none;
				opacity: 1;

				&:after {
					width: 50px;
				}
			}
		}
	}

	.swiper-slide {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 5rem;

		@media all and (max-width: 1023px) {
			padding: 2.5rem;
		}

		&.left {
			text-align: left;
		}

		&.center {
			text-align: center;

			.slider-content {
				.slider-content-wrapper {
					margin: 0 auto;
				}
			}
		}

		&.right {
			text-align: right;

			.slider-content {
				.slider-content-wrapper {
					margin: 0 0 0 auto;
				}
			}
		}

		.slider-content {
			width: 85%;

			.slider-content-wrapper {
				max-width: 50%;
			}
		}

		.fullslidelink {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}

		.slide-title {
			margin-top: 0;
			margin-bottom: 1.25rem;

			@media all and (max-width: 767px) {
				font-size: calc( 1.777 * var(--global--headings-font-size) ) !important;
			}
		}

		.slide-description {
			@media all and (max-width: 767px) {
				font-size: var(--global--body-font-size) !important;
			}
		}

		.button {
			display: inline-block;
			margin-top: 1.25rem;
		}
	}
}
