.product_socials_wrapper {
    .product_socials_wrapper_inner {
        a {
            background-color: var(--global--background-color);
        }
    }

    .share-product-text {
        font-family: var(--global--main-font);
    }

    @media only screen and (max-width: 63.9375em) {
        border-top: 1px solid var(--global--text-ultra-light-color);
		display: block;
		padding: 1.25rem 0;
		overflow: hidden;
		text-align: center;
		width: auto;
        white-space: nowrap;

        .share-product-text,
        .product_socials_wrapper_inner {
            display: inline-block;
			width: 50%;
        }

        .share-product-text {
            color: var(--global--text-dark-color);
            font-size: 10px;
            font-weight: bold;
            line-height: 1.5;
            text-transform: uppercase;
			text-align: left;
        }

        .product_socials_wrapper_inner {
			text-align: right;

            a {
                padding-right: 15px;

                svg {
                    fill: var(--global--headings-color);
                    transition: all .3s ease;
                }

                &:hover {
                    svg {
                        fill: var(--global--accent-color);
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 64em)  {
        position: fixed;
        top: 430px;
        right: 100%;
        z-index: 999;
        transition: all .5s;
        animation: slide-in-from-left;
        animation-duration: 3s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        transform: translateX(0);

        .share-product-text {
            display: none;
        }

        .product_socials_wrapper_inner {
            a {
                display: block;
                box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                text-align: center;
                padding-top: 10px;
                margin: 10px 0;
                width: 38px;
                height: 38px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

@keyframes slide-in-from-left {
    0% {
        transform: translateX(-55px);
    }

    50% {
        transform: translateX(95px);
    }

    75% {
        transform: translateX(95px);
    }

    100% {
        transform: translateX(95px);
    }
}
