.product_socials_wrapper {

    @media only screen and (min-width: 64em) {
        animation: slide-in-from-left;
        animation-duration: 3s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        position: fixed;
        top: 50%;
        right: 100%;
        transition: all .5s ease;
        transform: translateZ(0);
        z-index: 999;
    }

    .share-product-text {
        font-family: var(--global--main-font);

        @media only screen and (min-width: 64em) {
            display: none;
        }
    }

    .product_socials_wrapper_inner {
        transform: translateY(-50%);

        div.social_media {
            margin: 10px 0;

            &:first-child {
                margin-top: 0;
            }

            a {
                @media only screen and (min-width: 64em) {
                    border: 1px solid var(--global--text-light-color);
                    border-radius: 50%;
                    display: block;
                    width: 46px;
                    height: 46px;
                    overflow: hidden;
                    position: relative;
                    text-align: center;
                    text-decoration: none;
                    white-space: nowrap;
                    transition: all .8s;
                    transition-timing-function: cubic-bezier(.4,.08,0,.97);

                    svg.social-icon {
                        position: relative;
                        top: 12px;
                    }

                    svg.border-icon {
                        position: absolute;
                        left: -1px;
                        top: -1px;

                        .circle {
                            stroke: var(--global--headings-color);
                            stroke-dasharray: 301.59px 301.59px;
                            stroke-dashoffset: 301.59px;
                            stroke-width: 5;
                            transition: all 0.8s;
                            transition-timing-function: cubic-bezier(.4,.08,0,.97);
                        }
                    }

                    &:hover {
                        border-color: transparent;

                        svg.border-icon .circle {
                            stroke-dashoffset: 0;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 63.9375em) {
        border-top: 1px solid var(--global--text-light-color);
        display: block;
        padding: 1.25rem 0;
        overflow: hidden;
        text-align: center;
        width: auto;
        white-space: nowrap;

        .share-product-text,
        .product_socials_wrapper_inner {
            display: inline-block;
            width: 50%;
        }

        .share-product-text {
            color: var(--global--text-dark-color);
            font-size: 10px;
            font-weight: bold;
            line-height: 1.5;
            text-transform: uppercase;
            text-align: left;
        }

        .product_socials_wrapper_inner {
            text-align: right;

            a {
                padding-right: 15px;

                svg {
                    fill: var(--global--headings-color);
                    transition: all .3s ease;
                }

                &:hover {
                    svg {
                        fill: var(--global--accent-color);
                    }
                }
            }
        }
    }
}

@keyframes slide-in-from-left {
    0%   { transform: translateX(-55px); }
    50%  { transform: translateX(95px);  }
    75%  { transform: translateX(95px);  }
    100% { transform: translateX(95px);  }
}
