.product_socials_wrapper {
    transition: all .5s ease;

    @media only screen and (max-width: 63.9375em) {
        border-top: 1px solid var(--global--text-light-color);
        display: block;
        padding: 1.25rem 0;
        overflow: hidden;
        text-align: center;
        width: auto;
    }

    @media only screen and (min-width: 64em) {
        position: fixed;
        top: 50%;
        z-index: 999;

        .ltr & {
            animation: sk-ext-slide-in-from-left;
            animation-duration: 3s;
            animation-delay: 1.5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            left: -5rem;
            right: auto;
        }

        .rtl & {
            animation: sk-ext-slide-in-from-right;
            animation-duration: 3s;
            animation-delay: 1.5s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            right: -5rem;
            left: auto;
        }
    }

    &.slide-out {
        opacity: 0;
        visibility: hidden;
    }

    .share-product-text {
        display: inline-block;
        color: var(--global--text-dark-color);
        font-family: var(--global--main-font);
        font-size: 11px;
        font-weight: var(--global--headings-font-weight);
        line-height: 1.5;
        text-transform: uppercase;
        text-align: left;
        width: 43%;
        vertical-align: middle;

        .rtl & {
            text-align: right;
        }

        @media only screen and (min-width: 64em) {
            display: none;
        }
    }

    .product_socials_wrapper_inner {

        @media only screen and (max-width: 63.9375em) {
            display: inline-block;
            text-align: right;
            width: 55%;
            vertical-align: middle;

            .rtl & {
                text-align: left;
            }
        }

        @media only screen and (min-width: 64em) {
            transform: translateY(-50%);
        }

        div.social_media {
            display: inline-block;
            margin: 0 0 0 10px;
            vertical-align: middle;

            .rtl & {
                margin: 0 10px 0 0;
            }

            &:first-child {
                margin-left: 0;
            }

            @media only screen and (min-width: 64em) {
                display: block;
                margin: 10px 0;

                .rtl & {
                    margin: 10px 0;
                }

                &:first-child {
                    margin-top: 0;
                }
            }

            a {
                background-color: var(--global--background-color);
                box-shadow: inset 0 0 0 1px var(--global--text-light-color);
                border-radius: 50%;
                display: block;
                width: 41px;
                height: 41px;
                overflow: hidden;
                position: relative;
                text-align: center;
                text-decoration: none;
                white-space: nowrap;
                transition: all .8s;
                transition-timing-function: cubic-bezier(.4,.08,0,.97);

                @media only screen and (min-width: 64em) {
                    width: 46px;
                    height: 46px;
                }

                svg.social-icon {
                    fill: var(--global--headings-color);
                    position: relative;
                    top: 10px;

                    @media only screen and (min-width: 64em) {
                        top: 13px;
                    }
                }

                svg.border-icon {
                    fill: transparent;
                    position: absolute;
                    left: 0;
                    right: auto;
                    top: 0;
                    width: 41px;
                    height: 41px;

                    .rtl & {
                        right: 0;
                        left: auto;
                    }

                    @media only screen and (min-width: 64em) {
                        width: 46px;
                        height: 46px;
                    }

                    path {
                        box-sizing: border-box;
                        stroke: var(--global--headings-color);
                        stroke-dasharray: 307.919, 307.919;
                        stroke-dashoffset: 307.919;
                        stroke-width: 3;
                        transition: all 0.8s;
                        transition-timing-function: cubic-bezier(.4,.08,0,.97);
                    }
                }

                &:hover {
                    svg.border-icon {
                        path {
                            stroke-dashoffset: 0;
                        }
                    }
                }
            }
        }
    }
}

@keyframes sk-ext-slide-in-from-left {
    0%   { transform: translateX(-5rem); }
    50%  { transform: translateX(7.5rem);  }
    100% { transform: translateX(7.5rem);  }
}

@keyframes sk-ext-slide-in-from-right {
    0%   { transform: translateX(5rem);  }
	50%  { transform: translateX(-7.5rem); }
	100% { transform: translateX(-7.5rem); }
}
