.main-inspector-wrapper {
  border-top: 1px solid #e2e4e7;
  margin-top: 15px;
  padding-top: 15px; }
  .main-inspector-wrapper .category-result-wrapper {
    margin-top: 15px;
    max-height: 157px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;
    padding-left: 3px; }
    .main-inspector-wrapper .category-result-wrapper ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .main-inspector-wrapper .category-result-wrapper ul.level-1 {
        margin-left: 10px; }
      .main-inspector-wrapper .category-result-wrapper ul.level-2 {
        margin-left: 10px; }
      .main-inspector-wrapper .category-result-wrapper ul li {
        margin-bottom: 10px; }
      .main-inspector-wrapper .category-result-wrapper ul ul {
        margin-top: 10px; }
    .main-inspector-wrapper .category-result-wrapper label {
      display: block;
      width: 100%;
      position: relative;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .main-inspector-wrapper .category-result-wrapper label sup {
        margin-left: 4px;
        color: #ccc; }
      .main-inspector-wrapper .category-result-wrapper label .expand {
        position: absolute;
        right: 0;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      .main-inspector-wrapper .category-result-wrapper label.expanded .expand {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg); }
  .main-inspector-wrapper button.render-results {
    margin-top: 20px; }
    .main-inspector-wrapper button.render-results.disabled {
      color: #4daacf;
      background: #005d82;
      border-color: #006a95;
      -webkit-box-shadow: none;
      box-shadow: none;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
      pointer-events: none; }
  .main-inspector-wrapper .orderby-wrapper,
  .main-inspector-wrapper .range-wrapper {
    margin-top: 10px; }
